<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/bootstrap.css" rel="stylesheet">
  <title>ikvarxt's blog</title>
</head>

<body>
  <div class="m-4">
    <h1 class="mb-4 mt-4">New Articles</h1>

    <form action="/articles" method="post">
      <%- include('_form_fields.ejs') %>
    </form>
  </div>
</body>

</html>
