<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/bootstrap.css" rel="stylesheet">
  <title>ikvarxt's blog</title>
</head>

<body>
  <div class="m-4">
    <h1 class="mb-4 mt-4"><%= article.title %></h1>
    <div><%= article.createdAt.toLocaleDateString() %></div>
    <a href="/" class="btn btn-secondary mt-2 mb-2">All Articles</a>
    <div class="card mt-4">
      <div class="card-body">
        <%- article.sanitizedHtml %></div>
    </div>
  </div>
</body>

</html>
